/* You can add global styles to this file, and also import other style files */

.body {
  margin-top: 1.5% !important;
}

body {
  background-color: #e3e3e3;
}

.body-padding {
  padding: 2% !important;
  padding-bottom: 2% !important;
  background-color: #fff !important;
  border-radius: 10px 10px 10px 10px !important;
  -moz-border-radius: 10px 10px 10px 10px !important;
  -webkit-border-radius: 10px 10px 10px 10px !important;
  border: 0px solid #fff !important;
}

.new {
  font-size: 16px ;
  font-style: normal ;
  font-stretch: normal ;
  line-height: 1.25 ;
  text-align: center ;
  font-weight: normal ;
  letter-spacing: 1px ;
  border-radius: 10px 10px 10px 10px ;
  -moz-border-radius: 10px 10px 10px 10px ;
  -webkit-border-radius: 10px 10px 10px 10px ;
  border: 1px solid #409b42 ;
  margin-left: 10px;
  border-color: black !important;
}

.cancel {
  font-size: 16px ;
  font-style: normal ;
  font-stretch: normal ;
  line-height: 1.25 ;
  text-align: center ;
  font-weight: normal ;
  letter-spacing: 1px ;
  border-radius: 10px 10px 10px 10px ;
  -moz-border-radius: 10px 10px 10px 10px ;
  -webkit-border-radius: 10px 10px 10px 10px ;
  border: 1px solid #808080 ; 
  margin-left: 10px;
  border-color: black;
}

.btn.disabled, .btn:disabled {
    opacity: .35;
}

.input {
  font-family: Roboto;
  font-size: 15px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: normal;
  text-align: left;
  color: #788078;
}

input.ng-invalid.ng-touched {
  border-left: 5px solid darkred;
}

input.ng-valid.ng-dirty {
  border-left: 5px solid green;
}
